:root{
  /*Colors*/
  --white: #fff;
  --black: #181a1a;
  --primary-color: #00aae4;
  --second-color: #1f3d79;
  --background-color: #cfdbde;
   }
   /* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
  font-size: 62.5%;
}
body {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  padding: 2rem;
}