:root{
  /*Colors*/
  --white: #fff;
  --black: #181a1a;
  --first-color: #faff00;
  --second-color: #0c8bf3;
  --background-color: #cfdbde;
  --dark-mode: #121316;
   }
   /* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
  font-size: 62.5%;
}
body {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: var(--black);
}
li {
  list-style: none;
}
.container {
  padding: 1rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  align-items: center;
}
.nav__logo img {
  width: 6.4rem;
}
.nav__logo p {
  margin-left: 1rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
.nav__link  {
  line-height: 2rem;
}
.nav__link:hover {
  color: var(--second-color);
}
/* Dark-mode */
.switch {
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  background-color: var(--second-color);
  border-radius: 1000px;
}
.switch::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
}
.active {
  background: var(--first-color);
}
.active::after {
  right: 0;
  left: unset;
}
.switch span {
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: var(--black);
  text-align: center;
}
.dark {
  background: var(--dark-mode);
  color: var(--white);
}
.dark a {
  color: var(--white);
}
.hero {
  height: 500px;
  background-image: url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero:after {
  background-color: black;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero__description {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  flex-direction: column;
  text-align: center;
}
.hero__description p {
  font-size: 2.4rem;
  font-weight: 700;
  background-color: #ffff007d;
  padding: 2rem;
  margin-bottom: 2.0rem;
}
.hero__description a {
  background-color: #ffff007d;
  width: 140px;
  border: 1px solid var(--black);
  padding: 8px;
  font-weight: bold;
}